html {
	font-size: 62.5%;
}


/* Header and Top Nav */
header {
	width: 100%;
	position: fixed;
	padding: 10px;
	background-color: #eee;
	border-bottom: 1px #dddddd solid;
	font-size: 1.8rem;
}

header * {
	display: inline-block;
}

header a {
	text-decoration: none;
}
.topLogo {
	margin: 0;
	font-size: 1.8rem;
	font-weight: normal;
}

.topLogo a {
	color: black;
}

.topNav {
	position: absolute;
	right: 30px;
}

.topNav a {
	margin-left: 15px;
}

/* Main Body*/
main {
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 100px;
	font-size: 1.6rem;
}

/*Search Bar*/
input, button {
	border: 1px #cccccc solid;
	border-radius: 4px;
}

.searchBar form input {
	width: 400px;
	padding: 5px;
	vertical-align: middle;
}

.searchBar button {
	background-image: url(../images/magnifying-glass.png);
	background-size: 100% 100%;
	background-color: white;
	height: 30px;
	width: 30px;
	vertical-align: middle;
}

.searchBar button span {
	display: none;
}

/* Page Nav */
.pageNav{
	margin-top: 30px;
}

.pageNav * {
	display: inline-block;
	padding: 10px;
	border-top: 1px #cccccc solid;
	border-bottom: 1px #cccccc solid;
}

.pageNav a {
	text-decoration: none;
	color: black;
}

.pageNav .previous {
	border-left: 1px #cccccc solid;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.pageNav .next {
	border-right: 1px #cccccc solid;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
 .pageNav .listingRange {
 	border-right: 1px #cccccc solid;
 	border-left: 1px #cccccc solid;
 }

 /* Listings */
 .searchResults ol {
 	list-style: none;
 	padding-left: 0;
 }

 .searchResults .listingInfo {
 	color: #888;
 	margin-bottom: 15px;
 }

 .searchResults .listingInfo a {
 	text-decoration: none;
 	font-weight: bold;
 	display: inline-block;
 	margin-left: 10px;
 	margin-right: 10px;
 	background-size: 100% 100%;
 	color: blue;

 }

